# ------------------------------------------------------- POSTGRES ------------------------------------------------------- #
POSTGRES_USER=admin
POSTGRES_PASSWORD=change-me
POSTGRES_DB=saba
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432


# ------------------------------------------------------- PGADMIN ------------------------------------------------------- #
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me


# ------------------------------------------------------- KSQLDB ------------------------------------------------------- #
KSQL_HOST=http://127.0.0.1:8088/ksql
KSQLDB_URL=http://127.0.0.1:8088/ksql
KSQLDB_TIMEOUT=30
KSQLDB_MAX_RETRIES=5


# ------------------------------------------------------- OLLAMA ------------------------------------------------------- #
OLLAMA_HOST=http://127.0.0.1:11434/v1
OLLAMA_API_KEY=change-me
OLLAMA_SENTIMENT_MODEL=partai/dorna-llama3:8b-instruct-q4_0


# ------------------------------------------------------- TELEGRAM ACCOUNT MANAGER ------------------------------------------------------- #
TELEGRAM_ACCOUNT_MANAGER_HOST=http://127.0.0.1:9000


# ------------------------------------------------------- REDIS ------------------------------------------------------- #
REDIS_HOST=host.docker.internal
REDIS_PORT=6379


# ------------------------------------------------------- API / AUTH ------------------------------------------------------- #
FAST_API_SECRET_KEY="change-me"
FAST_API_ALGORITHM=HS256
FAST_API_ACCESS_TOKEN_EXPIRE_MINUTES=720
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_BOT_PROXY=http://127.0.0.1:10809
TELEGRAM_BOT_ADMIN_IDS=
# MINIO BUCKET NAMES
MINIO_QUERIES_BUCKET_NAME=topic-person-event-queries


# ------------------------------------------------------- ELASTICSEARCH ------------------------------------------------------- #
ELASTICSEARCH_HOSTS="https://127.0.0.1:9200,https://127.0.0.1:9200,https://127.0.0.1:9200"
ELASTICSEARCH_HOSTS_READ="https://127.0.0.1:9200,https://127.0.0.1:9200,https://127.0.0.1:9200"
ELASTICSEARCH_USERNAME=admin
ELASTICSEARCH_PASSWORD=change-me
ELASTICSEARCH_VERIFY_CERTS=false
ELASTICSEARCH_SSL_SHOW_WARN=false
# ELASTIC_CRT_PATH=conf/http_ca.crt


# ------------------------------------------------------- MINIO ------------------------------------------------------- #
MINIO_ENDPOINT_URL=https://minio.example.com
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me
MINIO_REGION="us-east-1"
DEFAULT_URL_EXPIRATION=900
IMAGE_URL_EXPIRATION=900
DOCUMENT_URL_EXPIRATION=900


# ------------------------------------------------------- PROXY ------------------------------------------------------- #
PROXY_HOST=127.0.0.1
PROXY_PORT=10809
PROXY_PROTOCOL=http
XRAY_CONFIGS="saba01-AE-AUSTRIA.json,saba01-AE-UNITEDARABEMIRATES.json,saba01-CH-Switzerland.json,saba01-DE-Germany.json,saba01-FI-Finland.json,saba01-FR-France.json,saba01-GB-UnitedKingdom.json,saba01-IT-ITALY.json,saba01-JP-JAPAN.json,saba01-MD-MOLDOVA.json,saba01-NL-Netherlands.json,saba01-NO-NORWAY.json,saba01-RO-ROMANIA.json,saba01-SE-Sweden.json,saba01-SG-SINGAPORE.json,saba01-UA-UKRAINE.json,saba01-US-UNITEDSTATE.json"
XRAY_SOCKS_PORT=10808
XRAY_HTTP_PORT=10808
XRAY_EXECUTABLE_PATH=proxy/xray
XRAY_CONFIG_DIR=proxy
PROXY_ROTATION_ENABLED=true
PROXY_TIMEOUT=5

# ------------------------------------------------------- TELEGRAM ------------------------------------------------------- #
# CONNECTOR NAMES
SINK_ELASTIC_TELEGRAM_MESSAGE_CONNECTOR="SINK_ELASTIC_TELEGRAM_MESSAGE_CONNECTOR"
SINK_ELASTIC_TELEGRAM_PEER_CONNECTOR="SINK_ELASTIC_TELEGRAM_PEER_CONNECTOR"
SINK_ELASTIC_TELEGRAM_TEST_CONNECTOR="SINK_ELASTIC_TELEGRAM_TEST_CONNECTOR"
SINK_ELASTIC_TELEGRAM_TEST2_CONNECTOR="SINK_ELASTIC_TELEGRAM_TEST2_CONNECTOR"

# STREAM NAMES
STREAM_TELEGRAM_MESSAGES="TELEGRAM_MESSAGES"
STREAM_TELEGRAM_CHANNELS="TELEGRAM_MESSAGES"
STREAM_TELEGRAM_GROUPS="TELEGRAM_MESSAGES"
STREAM_TELEGRAM_USERS="TELEGRAM_MESSAGES"
STREAM_TELEGRAM_BOTS="TELEGRAM_MESSAGES"
STREAM_TELEGRAM_CHATS="TELEGRAM_MESSAGES"
STREAM_TELEGRAM_MESSAGES="TELEGRAM_MESSAGES"
STREAM_TELEGRAM_TEST="TELEGRAM_TEST"
STREAM_TELEGRAM_TEST2="TELEGRAM_TEST2"

# TOPIC NAMES
TELEGRAM_MESSAGES_TOPIC_NAME="telegram-messages"
TELEGRAM_CHATS_TOPIC_NAME="telegram-messages"
TELEGRAM_CHANNELS_TOPIC_NAME="telegram-channels"
TELEGRAM_GROUPS_TOPIC_NAME="telegram-groups"
TELEGRAM_USERS_TOPIC_NAME="admin"
TELEGRAM_BOTS_TOPIC_NAME="telegram-bot"
TELEGRAM_TEST_TOPIC_NAME="telegram-test"
TELEGRAM_TEST2_TOPIC_NAME="telegram-test2"
TELEGRAM_CHAT_MESSAGE_SEND_TOPIC_NAME=telegram-chats-message-send
TELEGRAM_UPDATE_MESSAGE_TOPIC_NAME=telegram-update-messages
TELEGRAM_ACK_UPDATE_MESSAGE_TOPIC_NAME=telegram-update-messages-ack

# INDEX NAMES
TELEGRAM_INDEX_CHANNELS=telegram-channels
TELEGRAM_INDEX_MESSAGES=telegram-messages
TELEGRAM_INDEX_GROUPS=telegram-groups
TELEGRAM_INDEX_USERS=telegram-users
TELEGRAM_INDEX_BOTS=telegram-bots
RSS_INDEX_MESSAGES=rss-messages3
RSS_INDEX_CHANNELS=rss-channels

# MINIO BUCKET NAMES
MINIO_TELEGRAM_CHANNEL_BUCKET_NAME=telegram-images-channels
MINIO_TELEGRAM_GROUP_BUCKET_NAME=telegram-images-groups
MINIO_TELEGRAM_USER_BUCKET_NAME=admin
MINIO_TELEGRAM_MEDIA_CHATS_BUCKET_NAME=telegram-media-chats

# TELEGRAM_SESSION_FILES
TELEGRAM_SESSION_PATH=metadata/sessions





ETA_KAFKA_GROUP_ID=kafka-eta-group
# SERVICES VARIABLES
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
# MINIO_ENDPOINT_URL=http://188.136.208.234:9000
MINIO_INSTAGRAM_AVATAR_BUCKET_NAME=instagram-images-avatar
