{
  "size": 100,
  "track_total_hits": true,
  "query": {
    "terms": {
      "URL.keyword": [
        {% for url in urls %}
          "{{ url }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
  }
}