{
  "track_total_hits": true,
  "size": 1000,
  "_source": ["CLEANED_MESSAGE"],
  "query": {
    "bool": {
      "must": [
        { "match_phrase": { "PEER_ID": "{{ channel_id }}" } },
        {
          "range": {
            "DATE": {
              "gte": "{{ start_date }}",
              "lte": "{{ end_date }}"
            }
          }
        }
      ]
    }
  }
}
