playwright==1.44.0
kafka-python==2.0.2
elasticsearch==8.13.0
jdatetime==4.1.1
confluent-kafka==2.11.0
watchdog==6.0.0
httpx==0.28.1
fastapi==0.116.1
requests==2.32.4
khayyam==3.0.17
python-dateutil
pytz 
boto3==1.40.25
python-dotenv==1.1.1
requests[socks]
instaloader==4.14.2
yt_dlp==2025.9.26
nats-py==2.11.0
