{
  "size": 100,
  "track_total_hits": true,
  "query": {
    "bool": {
      "filter": [
        {
          "range": {
            "DATE": {
              "gte": "{{start_date}}",
              "lte": "{{end_date}}"
            }
          }
        },
        {
          "terms": {
            "CHANNEL_NAME": [
              {% for url in urls %}
                "{{ url }}"{% if not loop.last %},{% endif %}
              {% endfor %}
            ]
          }
        }
      ]
    }
  },
  "sort": [
    { "DATE": { "order": "desc" } }
  ]
}